# Python caches
__pycache__/
*.pyc

# macOS
.DS_Store

# SQLite databases
*.db

# Virtual environments
.venv/
venv/

# Logs
*.log
 
# Allow committing the built database for deployment
!data.db

# Node.js
node_modules/
